body {
  overflow-x: hidden;
  background-color: black;
  text-align: center;
  color: white;
  font-weight: bolder;
  background-image: url("../../images/all-games/background-image/background.png");
}

#h1{
  margin-top: 25px;
  width: 375px;
  height: 275px;
}

#menuBtn{
  width: 125px;
  height: 90px;
  margin: none;
  position: fixed;
  right: 0px;
  text-align: center;
  cursor: pointer;
  z-index: 5;
}

.hamburg{
  width: 75px;
  height: 75px;
  margin: 0px;
  position: fixed;
  transition: transform 0.25s linear, top 0.25s linear, right 0.25s linear;
}
#bar1{
  transform: rotate(135deg);
  right: 20px;
  top: -20px;
}
#bar2{
  transform: rotate(-45deg);
  right: 20px;
  top: 40px;
  
}

#bar1.open{
  transform: rotate(-270deg);
  top: 10px;
  right: 15px;
}

#bar2.open{
  transform: rotate(-360deg);
  top: 8px;
  right: 10px;
}

#bar3{
  display: none;
}

#menu-icon{
  width: 200px;
  height: 100px;
  margin-left: 0px;
  transition: transform 0.5s linear;
}

#menu-icon2{
  width: 200px;
  height: 100px;
  position: fixed;
  right: -50px;
  top: 0px;
  transition: right 0.25s ease-out, transform 0.25s ease-out;
  z-index: 7;
  will-change: transform;
}
#menu-icon2.open{
  right: -300px;
}
#menu-icon2:hover{
  transform: scale(1.2);
}
#menu-icon2:active{
  transform: scale(0.8);
}

#menu{
  background: url("../../images/all-games/background-image/background.png");
  border: 2px solid skyblue;
  border-radius: 50px 0px 0px 50px;
  position: fixed;
  right: -350px;
  top: 0px;
  width: 300px;
  height: 600px;
  text-align: center;
  z-index: 3;
  transition: right 0.25s linear;
}
#menu.open{
  right: 0px;
}

.menu-items{
  width: 200px;
  height: 150px;
  margin: 0px;
  position: relative;
  top: -40px;
}

#menuContainer{
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 5px;
  justify-content: center;
}

.keyblades{
  width: 250px;
  height: 250px;
  border-radius: 50px;
  opacity: 0;
  transform: translateY(-40px);
  display: none;
  position: relative;
  top:-70px;
}

.icons{
  width: 250px;
  height: 175px;
  cursor: pointer;
  transition: transform 0.25s linear;
}
.icons:hover{
  transform: scale(1.1);
}

.fad{
  animation: fadeIn 1s linear;
}
.fad1{
  animation: fadeIn 0.50s linear;
}
.fad2{
  animation: fadeIn 0.75s linear;
}
.fad3{
  animation: fadeIn 1s linear;
}


#container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px;
}

#ceremony{
  display: none;
}



#mickey{
  width: 30px;
  height: 25px;
}
#key{
  width: 30px;
  height: 25px;
}

#heart{
  width: 20px;
  height: 25px;
}

#test{
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 75px;
}

.menuText{
  color: white;
}
a{
  text-decoration: none;
}

.menuBtns{
  flex-wrap: wrap;
opacity: 0.5;
cursor: pointer;
transition: opacity 0.25s linear,
transform 0.25s linear;
margin: 10px;
}
.menuBtns:hover{
  
  opacity: 1;
  transform: scale(1.1);
}

.menuBtns:active{
  transition: opacity 0.01s linear,
  transform 0.01s linear;
  transform: scale(1);
  opacity: 1;
}

#aboutText{
  font-size: large;
}

#aboutContainer{
  display: none;
}

#dandelionsContainer{
  border: 2px solid white;
  border-radius: 25px;
  box-shadow: 2px 2px 20px 10px white;
}