

body {
  text-align: center;
  background-image: url("../../images/all-games/background-image/background.png");
}

#h1{
  margin-top: 25px;
  width: 375px;
  height: 275px;
}

#menuBtn{
  border: yellow 2px solid;
  width: 125px;
  height: 90px;
  margin: none;
  position: fixed;
  right: 0px;
  text-align: center;
  cursor: pointer;
}

.hamburg{
  width: 75px;
  height: 75px;
  margin: none;
  position: fixed;
  transition: transform 0.25s linear;
}
#bar1{
  transform: rotate(135deg);
  right: 20px;
}
#bar2{
  transform: rotate(-45deg);
  right: 20px;
  top: 40px;
  
}
#bar3{
  display: none;
}