@media(min-width:800px){
 
  .fad1{
    animation: fadeIn 1s linear;
  }
  .fad2{
    animation: fadeIn 1s linear;
  }
  .fad3{
    animation: fadeIn 1s linear;
  }
  #h1{
    margin-top: 10px;
  }
}

@media (max-height: 400px){
  #menu{
    height: 300px;
  }
  #ceremony{
    transform: translateY(-31px);
    width: 125px;
    height: 100px;
  }
  .keyblades{
    width: 75px;
    height: 75px;
    border-radius: 10px;
    transform: translateY(-75px);
    animation: apearTo 1.5s forwards;
  }
}